<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>aquarium</title>

  <link rel="stylesheet" type="text/css" href="animation.css">
  <link rel="stylesheet" type="text/css" href="main.css">

  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>
</head>

<body>

  <div class="info">
    <div class="fish" id="info-button" hx-get="info.html" hx-swap="innerHTML settle:5s" hx-target="#info-text"
> /---\
|  i  |
 \---/</div>
    
     <div id="info-text" class="text">TextFiller</div>
  </div>

  <div class="shoal">
    <div id="shoal" hx-get="/tetra/v1/echo" hx-swap="innerHTML settle:5s" hx-target="#shoal-text" hx-disinherit="*"
><div class="fish tetra" id="tetra1" hx-get="/sprites/v1/tetra" hx-swap="innerHTML settle:1s" hx-trigger="load"></div>
<div class="fish tetra" id="tetra2" hx-get="/sprites/v1/tetra" hx-swap="innerHTML settle:1s" hx-trigger="load"></div>
<div class="fish tetra" id="tetra3" hx-get="/sprites/v1/tetra" hx-swap="innerHTML settle:1s" hx-trigger="load"></div></div>
  
    <div id="shoal-text" class="text">TextFiller TextFiller TextFiller</div>
  </div>


  <div class="puffer" hx-post="http://localhost:4003/puffer/v1/load" hx-ext="response-targets" hx-swap="innerHTML settle:5s" hx-target="#puffer-text" hx-target-error="#puffer-text" hx-disinherit="*">
    <div class="fish" id="puffer" hx-get="/sprites/v1/pufferfish" hx-swap="innerHTML settle:1s" hx-trigger="load"></div>
    <div id="puffer-text" class="text">TextFiller</div>
  </div>

  <div class="butterfly" hx-post="/butterfly/v1/error" hx-ext="response-targets" hx-swap="innerHTML settle:5s" hx-target="#butterfly-text" hx-target-error="#butterfly-text" hx-disinherit="*">
    <div class="fish" id="butterfly" hx-get="/sprites/v1/butterfly" hx-swap="innerHTML settle:1s" hx-trigger="load"></div>
    <div id="butterfly-text" class="text">TextFiller</div>
  </div>

  <div id="starfish-text" class="text">TextFiller</div>
  <div class="fish" id="starfish" hx-get="starfish.html" hx-swap="innerHTML settle:5s" hx-target="#starfish-text" hx-disinherit="*"></div>

  <div id="starfish-loader" hx-get="/sprites/v1/starfish" hx-swap="innerHTML settle:1s" hx-trigger="load" hx-target="#starfish"></div>

  <div class="fish" id="algae">
               (               (             )                )   (                  (               (             )                )   
     )          )           )   )           (                (     )       )          )           )   )           (                (     )
    (          (    )      (   (             )    (           )   (       (          (    )      (   (             )    (           )   (
     )          )  (        )   )           (      )         (     )       )          )  (        )   )           (      )         (     )
    (          (    )      (   (             )    (           )   (       (          (    )      (   (             )    (           )   (</div>

  <div id="b1" class="fish bubble">0
&nbsp;o</div>
  <div id="b2" class="fish bubble">o
&nbsp;0</div>
  <div id="b3" class="fish bubble">o
0</div>
  <div id="b4" class="fish bubble">&nbsp;0
o
</div>
  <div id="b5" class="fish bubble">&nbsp;o
0
  </div>
</body>
</html>
